<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h2>Create new film</h2>
        
        <p><input class="form-control" ng-model="name" placeholder="Name" type="text"></p>
        <p><input class="form-control" ng-model="description" placeholder="Description" type="text"></p>
        <p><input class="form-control" ng-model="ticket_price" placeholder="ticket price" type="text"></p>
        <p><input class="form-control" ng-model="release_date" placeholder="release date" type="text"></p>
        <p><input class="form-control" ng-model="country" placeholder="country" type="text"></p>
        <p><input class="form-control" ng-model="rating" placeholder="rating" type="text"></p>
        
        <p><button type="button" class="btn btn-success form-control" ng-click="create()">Create</button></p>
        <p><button type="button" class="btn btn-success form-control" ng-click="back()">Back</button></p>

    </div>
</div>